{% extends "base.html" %}
{% load static %}

{% block title %} در مورد ما   {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



<!-- Header -->
<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1> در مورد ما  </h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->


<!-- Breadcrumbs -->
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a href="index.html">  در مورد ما  </a><i class="fa fa-angle-double-right"></i><span>  املاک اَپ  </span>
                </div> <!-- end of breadcrumbs -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of breadcrumbs -->




  <!-- Details -->
  <div id="details" class="basic-1" dir="rtl" align="right">
      <div class="container">

          <div class="row">
              <div class="col-lg-6">
                  <div class="text-container">
                      <h2> املاک اَپ، دستیارِ حرفه‌ای و اختصاصی مشاوران املاک </h2>
                      <p>
                        مشاورین املاک معمولا پر مشغله هستند و روزانه باید با تعداد زیادی مشتری تماس بگیرند، بازدید هماهنگ کنند و یا در قراری حاضر شوند. در این بازار رقابتی اگر بخواهید به روش سنتی و بدون کمک از تکنولوژی کار های خودتون رو پیش ببرید احتمالا کار برای شما سخت خواهد شد. با استفاده از یک نرم افزار پیشرفته مدیریت املاک مثل نرم افزار املاک اَپ، شما می تونید بسیاری از کار های روتین روزانه رو به سیستم بسپارید و با خیال راحت به کار های مهم تر بپردازید.
                      </p>
                      <ul class="list-unstyled li-space-lg">
                          <li class="media">
                              <i class="fas fa-square"></i>
                              <div class="media-body"> &nbsp; پنل اختصاصی کارشناس با امکانات و سطح دسترسی های متنوع </div>
                          </li>
                          <li class="media">
                              <i class="fas fa-square"></i>
                              <div class="media-body"> &nbsp; وبسایت اختصاصی با قابلیت شخصی سازی و نمایش فایل ها </div>
                          </li>
                      </ul>
                  </div> <!-- end of text-container -->
              </div> <!-- end of col -->
              <div class="col-lg-6">
                  <div class="image-container" style="margin-top:7%;">
                      <img class="img-fluid" src="{% static 'images/about.png' %}" alt="alternative" style="border-radius: 3%; box-shadow: 10px 10px 5px grey; ">
                  </div> <!-- end of image-container -->
              </div> <!-- end of col -->
          </div> <!-- end of row -->

          <br><br>

          <div class="row">
              <div class="col-lg-12">
                  <p>
                    نرم افزار املاک اَپ، یک دستیارِ حرفه‌ای ، اختصاصی و جامع برای پوشش همه نیاز های آژانس های املاک، مشاورین املاک و بنگاه هاست. هدف این نرم افزار، اتوماسیون و افزایش سرعت همه کار هایی است که یک مشاور املاک به طور روزانه باید انجام بدهد، کارهایی مثل ثبت و مدیریت تقاضا های خرید و اجاره، پیدا کردن هوشمند بهترین مورد ها طبق تقاضای مشتری، یادآوری اقدامات و پیگیری ها،فایلینگ مشاوره املاک، بازدید ها و در نهایت قرارداد. علاوه بر پنل مدیریتی که همه این امکانات را برای کارشناسان فراهم میکند، این نرم افزار وبسایتی برای نمایش فایل ها با امکان جستجو پیشرفته و دارای قابلیت شخصی سازی دارد. نرم افزار املاک اَپ آژانس املاک به کار ها نظم میدهد و زمان شما را برای تمرکز بر روی معامله های مهم تر آزاد می کند.
                  </p>
              </div> <!-- end of col -->
          </div> <!-- end of row -->


      </div> <!-- end of container -->
  </div> <!-- end of basic-1 -->
  <!-- end of details -->


  <br><br>






{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
