{% extends "base.html" %}
{% load static %}

{% block title %} | بررسی و پرداخت {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %} {% endblock stylesheets %}

{% block content %}



<!-- Header -->
<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1> بررسی و پرداخت </h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->


<!-- Breadcrumbs -->
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs" dir="rtl">
                   بررسی و پرداخت </a><i class="fa fa-angle-double-right"></i><span>  املاک اَپ  </span>
                </div> <!-- end of breadcrumbs -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of breadcrumbs -->





<!-- Description -->
  <div class="cards-1">
      <div class="container">

          <div class="row">
              <div class="col-lg-12">
                  <div class="above-heading">
                    <div class="card-image">
                        <img class="img-fluid" src="{% static 'images/payment.png' %}" alt="alternative">
                    </div>
                  </div>
                  <p class="p-heading" dir="rtl"> بررسی و پرداخت بررسی و پرداخت بررسی و پرداخت بررسی و پرداخت بررسی و پرداخت بررسی و پرداخت بررسی و پرداخ بررسی و پرداختت </p>
              </div> <!-- end of col -->
          </div> <!-- end of row -->

          <div class="row">
              <div class="col-lg-12" dir="rtl">
                  <!-- Card -->
                  <div class="card">
                      <div class="card-body">
                          <h4 class="card-title"> gggggggg </h4>
                          <p> hhhhhh </p>
                      </div>
                  </div>
                  <!-- Card -->
                  <div class="card">
                      <div class="card-body">
                          <h4 class="card-title"> gggggggg </h4>
                          <p> hhhhhh </p>
                      </div>
                  </div>
                  <!-- end of card -->
                  <!-- Card -->
                  <div class="card">
                      <div class="card-body">
                          <h4 class="card-title"> gggggggg </h4>
                          <p> hhhhhh </p>
                      </div>
                  </div>
                  <!-- end of card -->
              </div> <!-- end of col -->
          </div> <!-- end of row -->


      </div> <!-- end of container -->
  </div> <!-- end of cards-1 -->
  <!-- end of description -->







<h6> {{ req.domain }} </h6>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %} {% endblock javascripts %}
