{% extends "base.html" %}
{% load static %}

{% block title %} ثبت سفارش {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



<!-- Header -->
<header id="header" class="ex-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1> ثبت سفارش  </h1>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of ex-header -->
<!-- end of header -->


<!-- Breadcrumbs -->
<div class="ex-basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs">
                    <a href="index.html">  ثبت سفارش  </a><i class="fa fa-angle-double-right"></i><span>  املاک اَپ  </span>
                </div> <!-- end of breadcrumbs -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of ex-basic-1 -->
<!-- end of breadcrumbs -->


<br><br><br>

        <!-- property area -->
        <div class="content-area recent-property padding-top-40" style="background-color: #FFF;">
            <div class="container" dir="rtl" align="center">
                <div class="row">
                    <div class="col-md-12 col-md-offset-2">
                        <div id="contact1" 	style="max-width:720px;">


                          <h6> با نرم افزار <a style="color:#5f4ded; text-decoration:none;" href="http://www.amlak.app">  املاک اَپ </a> و مجموعه نرم افزار های مدیریت کسب و کار شرکت <a style="color:#5f4ded; text-decoration:none;" href="http://www.Atrotech.ir"> آتـــروتـک </a> ، فرآیند های صحیح و بهینه را به سازمان و کسب و کار خود وارد کنید، هزینه ها را کاهش دهید و در رقابت پیروز شوید. </h6>
                          <br><br>

                            <form action="#" method="post" dir="rtl" align="right">
                              {% csrf_token %}
                                <div class="row">


                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="above-heading" for="phone">پکیج</label>
                                            <select name="package" class="form-control" required>
                                              {% for Package in packages %}
                                                <option value={{Package.id}}>{{Package}}</option>
                                              {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="above-heading" for="phone">نام دامنه</label>
                                            <input name="domain" type="text" class="form-control" required>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="above-heading" for="phone">کد تخفیف</label>
                                            <input name="discount" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-sm-12 text-center">
                                      <br>
                                      <button type="submit" class="btn-solid-reg page-scroll"> بررسی و نهایی کردن پرداخت </button>

                                      <div class="form-message">
                                        <div id="lmsgSubmit" class="h6 text-center hidden" style="color:#ed1111b5;">
                                          <br>
                                          {% if msg %} {{ msg | safe }} {% else %} {% endif %}
                                        </div>
                                      </div>

                                    </div>

                                    <div class="col-sm-12 text-center">
                                      <br>
                                      <p style="font-size:13px;color:grey;"> <br><br>   و چنانچه مایل به استفاده از سرویس ۱۵ روزه رایگان هستید میتوانید از <a href="{% url 'app:demo' %}" style="color:#5f4ded; font-size:15px; text-decoration:none;"> این لینک </a> اقدام نماید  </p>
                                    </div>

                                </div>
                                <!-- /.row -->
                            </form>



                            <br><br><br><br>

                        </div>
                    </div>
                </div>
            </div>
        </div>









{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
